@font-face {
	font-family: goodfoot;
	src: url(../fonts/goodfoot.ttf);
}
* {
  box-sizing: border-box;
}

html{
	width: 100vw;
	height: 100vh;
}
body{
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: 'goodfoot', 'Open Sans';
	position: relative;
	background-image: url('../img/portfolio_bw.png');
	background-size: cover;
	background-position: center top;
	text-align: center;
	color: white;
}

h1 {
	padding-bottom: 2%;
}

h1 strong {
	color: #ffd525;
}

h4 {
	width: 48%;
	position: relative;
	margin: 0 auto;
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

a {
	text-decoration: none;
	color: white;
	margin: 0 2%;
	transition: all 0.1s ease-in-out;
}

a:hover {
	color: #ffd525;
	border-bottom: 2px dashed #ffd525;
}

#box-center {
	display: block;
	margin: auto;
	padding: auto;
	position: relative;
	top: 64%;
}