@font-face {
	font-family: goodfoot;
	src: url(../fonts/goodfoot.ttf);
}
/* -------------------------------------------------
General
------------------------------------------------- */
html{
	width: 100vw;
	height: 100vh;
	position: relative;
}
body{
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: 'goodfoot', 'Open Sans';
	background-color: rgb(40, 45, 22);
	position: relative;
	text-align: center;
	color: white;
}
/* -------------------------------------------------
Parts
------------------------------------------------- */
#img_profile {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	margin-bottom: 12vh;
	border: 3px solid white;
	box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

#main-title {
	font-size: 320%;
	line-height: 0;
	padding-bottom: 2%;
}

#main-title strong {
	color: #ffd525;
}

#sub-title {
	width: 48vw;
	position: relative;
	margin: 0 auto;
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

a.a_link {
	text-decoration: none;
	color: white;
	margin: 0 2%;
	transition: all 0.1s ease-in-out;
}

a.a_link:hover {
	color: #ffd525;
	border-bottom: 2px dashed #ffd525;
}

#box-center {
	display: block;
	margin: auto;
	padding: auto;
	position: relative;
	top: 12vh;
}

#img_twitter {
	width: 32px;
	position: fixed;
	bottom: 3vh;
	right: 3vw;
	background-color: rgb(99, 168, 225);
	padding: 8px;
	border-radius: 50%;
	box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#img_twitter:hover, #img_twitter:active {
	cursor: pointer;
	-webkit-transform:scale(1.2);
	   -moz-transform:scale(1.2);
	     -o-transform:scale(1.2);
	        transform:scale(1.2);
}
